.logo--home-page {
  width: 100%;
  transform: rotate(0deg);
}

.logo__overflow {
  height: 150px;
  overflow: visible;
}

.logo--home-page {
  position: relative;
  animation: spin-logo-image 1250ms infinite;
  max-width: 100%;
  width: 100%;
}

.logo__title {
  padding-left: 10px;
  animation: color-logo 1250ms infinite, spin-logo-image--text-transform 1250ms infinite alternate;

  &__container {
    height: 30px;
  }
}

@keyframes color-logo {
  0% {
    color: white;
  }

  50% {
    color: #a97346;
  }

  100% {
    color: white;
  }
}

@keyframes spin-logo-image--text-transform {
  0% {
    font-size: 20px;
  }
  100% {
    font-size: 28px;
  }
}

.quotes {
  margin-top: 10px;

  :nth-child(1) {
    animation: color-logo 3500ms infinite;
  }

  :nth-child(2) {
    margin-top: 10px;
    animation: color-logo 1500ms infinite;
  }

  :nth-child(3) {
    margin-top: 10px;
    animation: color-logo 350ms infinite;
  }
}
